
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}
@model SearchResultsRoot
<h1>Home Page</h1>

<form action="../Movie/SearchMovies" method="get">
    <input type="text" name="searchQuery" value="" />
    <input type="submit" value="Search!" />

</form>

@if (Model != null)
{
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Title</th>
            <th>ReleaseYear</th>
            <th>POSTER</th>
            <th></th>
        </tr>
        @{
            foreach (var item in Model.Search)
            {

                <tr>
                    <td>@item.Title</td>
                    <td>@item.Year</td>
                    <td><img src="@item.Poster" /></td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <td><a class="btn-primary" href="../Movie/AddToFavorites?MovieId=@item.imdbID&UserId=@User.FindFirst(ClaimTypes.NameIdentifier).Value">Add To Favorites</a></td>
                    }
                    else
                    {
                        <td></td>
                    }

                </tr>
            }
        }


    </table>
}





